.new__items {
  width: 100%;
}

.container__list {
  display: flex;
  gap: 30px;
  padding: 20px;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  transition: all .8s cubic-bezier(0.19, 1, 0.22, 1);
}

.container__list::-webkit-scrollbar {
  display: none;
}

.item__container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s ease;
}

.item__container:hover {
  background: rgba(53, 53, 53, 0.322);
  border-radius: 40px;
  box-shadow: 0 12px 1px rgba(53, 53, 53, 0.322);
}

.item__container img {
  object-fit: cover;
  max-width: 110%;
}

.itemscroll_text {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 100;
  margin-top: 15px;
}

.list__container {
  display: flex;
  flex-direction: column;
  width: 110%;
}