<div class="register__inner">
    <h1 class="register__text">Please, Register</h1>
    <form #form="ngForm" class="form">
        <div class="register__fname">
            <label>First Name</label>
            <input required type="text" [(ngModel)]="registerObj.first_name" name="first_name">
            </div>
            <div class="register__lname">
                <label>Last Name</label>
                <input required type="text" [(ngModel)]="registerObj.last_name" name="last_name">
            </div>
            <div class="register__input">
                <label>Login</label>
                <input required type="text" [(ngModel)]="registerObj.login" name="login">
            </div>
            <div class="register__email">
                <label>Email</label>
                <input required type="email" [(ngModel)]="registerObj.email" name="email">
            </div>
            <div class="register__number">
                <label>Phone Number</label>
                <input required type="text" [(ngModel)]="registerObj.phoneNumber" name="phoneNumber" >
            </div>
            <div class="register__password">
                <label>Password</label>
                <input required type="password" [(ngModel)]="registerObj.password" name="password">
            </div>
            <button type="button" [disabled]="form.invalid" (click)="onRegister()" class="reg__btn">REGISTER</button>
            <div class="text__dont">Already Registred? <a class="link__to" routerLink="/login">LOGIN</a></div>
    </form>
</div>