<div class="register__inner">
    <h1 class="register__text">Please, Register</h1>
    <form class="form">
        <div class="register__input">
            <label>Login</label>
            <input type="text">
        </div>
        <div class="register__email">
            <label>Email</label>
            <input type="email">
        </div>
        <div class="register__number">
            <label>Phone Number</label>
            <input type="text">
        </div>
        <div class="register__password">
            <label>Password</label>
            <input type="password">
        </div>
        <button class="reg__btn">REGISTER</button>
        <div class="text__dont">Already Registred? <a class="link__to" routerLink="/login">LOGIN</a></div>
    </form>
</div>