.list__inner {
  margin-top: 9vh;
  transition: all .3s ease;  
}

app-main-search {
    display: none;
}

app-main-search.active {
    display: block;
}

app-new-items, app-list {
    display: block;
}

app-new-items.unactive, app-list.unactive {
    display: none;
}