<div class="content__homepage">
    <app-searchbar 
  (searchFocus)="handleSearchFocus($event)"
  (searchTextChange)="handleSearchTextChange($event)"   >
</app-searchbar>
    @if (!isFocus) {
        <app-new-items class="" />
        <div class="list">
            <div class="list__inner">
                <app-list class="" />
            </div>
        </div>        
    } @else {
        <app-main-search [searchText]="searchText" class="active" />
        <app-new-items class="unactive" />
        <div class="list">
            <div class="list__inner">
                <app-list class="unactive" />
            </div>
        </div>          
    }
    
</div>