<div class="login__inner">
    <h1 class="login__text">Please, login</h1>
    <form class="form">
        <div class="login__input">
            <label>Email</label>
            <input name="email" [(ngModel)]="loginObj.email" type="email">
        </div>
        <div class="login__password">
            <label>Password</label>
            <input name="password" [(ngModel)]="loginObj.password" type="password">
        </div>
        <button type="button" (click)="onLogin()" class="log__btn">LOGIN</button>
        <div class="text__dont">Don't have account? <a class="link__to" routerLink="/register">REGISTER</a></div>
    </form>
</div>